
<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <ul>
      <img src="../../assets/logo.png" alt="Logo" class="logo my-3">
      <li>
        <a href="" class="text-light">
          My Contacts
        </a>
      </li>
      <li>
        <a href="" class="text-light">
          My Linkedin
        </a>
      </li>
      <li>
        <a href="" class="text-light">
          My Gmail
        </a>
      </li>
    </ul>
  </a>
    <p class="text-light">Made in Brazil, 2020</p>
</nav>
