<app-header></app-header>

<div class="d-flex justify-content-center my-5">
  <h2 class="text-dark">Thanks For Getting Here...</h2>
</div>

<div class="d-flex justify-content-center my-3">
  <img src="https://media4.giphy.com/media/8UGGp7rQvfhe63HrFq/200w.webp?cid=ecf05e47tmojc8zt7j6x73aozqawnodokowbqcmxarwgk63t&rid=200w.webp&ct=g" alt="Gif" class="thanks">
</div>

<div class="d-flex justify-content-center my-5">
  <h2 class="text-dark">✨Application Author</h2>
</div>

<div class="text-center d-flex justify-content-center my-5">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGLsMukPtqqcg/profile-displayphoto-shrink_800_800/0/1622047474868?e=1657152000&v=beta&t=lIhNeaD5v7HUVJBtc2fXQY6aOlkZixWE8C0KpB0IYHc" alt="author" class="author mb-4">
      <h5 class="card-title">Carlos Kauan Costa de Brito</h5>
      <h6 class="card-subtitle mb-2 text-muted mb-3">Desenvolver Junior Angular</h6>
      <p class="card-text text-center">
        Começando na área mais já com muito contêudo previo.
        sou apaixono por tecnologia.
      </p>
    </div>
  </div>
</div>

<!-- Pagination  -->
<app-pagination></app-pagination>

<app-footer></app-footer>
