<!--  header  -->
<app-header></app-header>

<div class="my-5 p-3">
  <!-- deck card -->
  <div class="card-deck mb-5">
    <div class="card">
      <img src="https://tm.ibxk.com.br/2021/04/05/05180502007300.jpg?ims=1200x675" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Charmander</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://pic.baike.soso.com/ugc/baikepic2/0/20211210235635-1329724955_png_1280_720_1144806.jpg/1284" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Squitle</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://alfabetajuega.com/hero/2019/09/pokemon-bulbasaur-manada.jpg?width=1200&aspect_ratio=1200:631" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bulbasaur</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <!-- deck card -->

  <div class="card-deck">
    <div class="card">
      <img src="https://tm.ibxk.com.br/2021/04/05/05180502007300.jpg?ims=1200x675" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Charmander</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://pic.baike.soso.com/ugc/baikepic2/0/20211210235635-1329724955_png_1280_720_1144806.jpg/1284" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Squitle</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://alfabetajuega.com/hero/2019/09/pokemon-bulbasaur-manada.jpg?width=1200&aspect_ratio=1200:631" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bulbasaur</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<app-pagination></app-pagination>

<!-- footer -->
<app-footer></app-footer>
